In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [5]:
animals = DataFrame(np.arange(16).reshape(4,4), columns = ['W', 'X', 'Y', 'Z'], index =['Dog', 'Cat', 'Bird', 'Mouse'])

In [6]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [9]:
animals.ix[1:2,['W', 'Y']] = np.NaN

In [10]:
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [11]:
behavior_map = {'W': 'Good', 'X': 'Bad' , 'Y': 'Good', 'Z': 'Bad'}
#Group by dictionary

In [21]:
animals_map = animals.groupby(behavior_map, axis =1)

In [22]:
animals_map.sum()

        Bad  Good
Dog     4.0   2.0
Cat    12.0   NaN
Bird   20.0  18.0
Mouse  28.0  26.0

In [23]:
behave_series = Series(behavior_map)
#Group by Series

In [28]:
animals.groupby(behave_series, axis =1).sum()

        Bad  Good
Dog     4.0   2.0
Cat    12.0   NaN
Bird   20.0  18.0
Mouse  28.0  26.0

In [34]:
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [33]:
animals.groupby(len).count()

   W  X  Y  Z
3  1  2  1  2
4  1  1  1  1
5  1  1  1  1

In [35]:
animals.groupby(len).sum()

      W   X     Y   Z
3   0.0   6   2.0  10
4   8.0   9  10.0  11
5  12.0  13  14.0  15

In [32]:
animals.groupby(behave_series, axis=1).count()

       Bad  Good
Dog      2     2
Cat      2     0
Bird     2     2
Mouse    2     2